<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <!-- home.html -->
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- templates/pos_app/dashboard.html -->
<h1>Dashboard</h1>
<p>Welcome, {{ request.user.username }}!</p>
<a href="{% url 'product_list' %}">Product List</a> |
<a href="{% url 'cart' %}">Cart</a> |
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>


</body>
</html>