<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <!-- home.html -->
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- templates/pos_app/brand_list.html -->
<h1>Categories</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for brand in brands %}
    <tr>
        <td>{{ brand.name }}</td>
        <td>
            <a href="{% url 'edit_brand' brand.id %}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'add_brand' %}">Add New Brand</a>
<a href="{% url 'product_list' %}">Back to Products</a>


</body>
</html>
